.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/RedditCommunityDetection.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/other.xml
.idea
.venv
.ipynb_checkpoints

# Large Datasets
data/soc-redditHyperlinks-body.tsv
data/soc-redditHyperlinks-body.csv
data/soc-redditHyperlinks-title.tsv
data/soc-redditHyperlinks-title.csv

# Output Images
out/*
